body{
  background: lightblue;
}
form label{
  display:block
    font-size: 25px;
}
table {
  
  font size: 25px;
  
}

td {
  border: 1px solid;
  border color: black:
    background: white;
  border: 1 px solid #000000;
  border-color: black;
}
